.App {
  margin: 0 auto; 
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1440px;
  gap: 8px;
  color: white;
}

.my-post{
  padding-left: 20px;
}
a{
  color: #fff;
  text-decoration: none;
}